pandas 
#mlflow==2.2.2
notebook
numpy
scikit-learn
matplotlib
python-box
pyYAML
tqdm
ensure
joblib
types-PyYAML
Flask
Flask-Cors
plotly
#-e .
Flask
json5
pandas
Pillow
plotly
pymongo
requests
scikit-learn
scipy
streamlit
urllib3



